<center>
<img src="../../img/ods_stickers.jpg">
## Open Machine Learning Course
<center>
Author: Yury Kashnitsky, Data Scientist at Mail.Ru Group

This material is subject to the terms and conditions of the license [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Free use is permitted for any non-comercial purpose with an obligatory indication of the names of the authors and of the source.

## <center>Assignment #6. Part 1
### <center> Beating benchmarks in "Catch Me If You Can: Intruder Detection through Webpage Session Tracking"
    
[Competition](https://www.kaggle.com/c/catch-me-if-you-can-intruder-detection-through-webpage-session-tracking2). The task is to beat "Assignment 6 baseline".

In [111]:
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline
from matplotlib import pyplot as plt
import seaborn as sns
import os
import numpy as np
import pandas as pd
from scipy.sparse import csr_matrix, hstack
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import roc_auc_score
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import TimeSeriesSplit

In [112]:
# функция для записи прогнозов в файл
def write_to_submission_file(predicted_labels, out_file,
                             target='target', index_label="session_id"):
    predicted_df = pd.DataFrame(predicted_labels,
                                index = np.arange(1, predicted_labels.shape[0] + 1),
                                columns=[target])
    predicted_df.to_csv(out_file, index_label=index_label)

In [113]:
def get_auc_lr_valid(X, y, C=1.0, ratio = 0.9, seed=17):
    '''
    X, y – выборка
    ratio – в каком отношении поделить выборку
    C, seed – коэф-т регуляризации и random_state 
              логистической регрессии
    '''
    train_len = int(ratio * X.shape[0])
    X_train = X[:train_len, :]
    X_valid = X[train_len:, :]
    y_train = y[:train_len]
    y_valid = y[train_len:]
    
    logit = LogisticRegression(C=C, n_jobs=-1, random_state=seed)
    
    logit.fit(X_train, y_train)
    
    valid_pred = logit.predict_proba(X_valid)[:,1]
    
    return roc_auc_score(y_valid, valid_pred)

Reading original data

In [114]:
# загрузим обучающую и тестовую выборки
train_df = pd.read_csv('../../data/train_sessions.csv',
                       index_col='session_id')
test_df = pd.read_csv('../../data/test_sessions.csv',
                      index_col='session_id')

# приведем колонки time1, ..., time10 к временному формату
times = ['time%s' % i for i in range(1, 11)]
train_df[times] = train_df[times].apply(pd.to_datetime).fillna(method='ffill', axis=1)
test_df[times] = test_df[times].apply(pd.to_datetime).fillna(method='ffill', axis=1)

# отсортируем данные по времени
train_df = train_df.sort_values(by='time1')

# посмотрим на заголовок обучающей выборки
train_df.head()

,site1,time1,site2,time2,site3,time3,site4,time4,site5,time5,...,time6,site7,time7,site8,time8,site9,time9,site10,time10,target
session_id,,,,,,,,,,,,,,,,,,,,,
21669,56,2013-01-12 08:05:57,55.0,2013-01-12 08:05:57,NaN,2013-01-12 08:05:57,NaN,2013-01-12 08:05:57,NaN,2013-01-12 08:05:57,...,2013-01-12 08:05:57,NaN,2013-01-12 08:05:57,NaN,2013-01-12 08:05:57,NaN,2013-01-12 08:05:57,NaN,2013-01-12 08:05:57,0
54843,56,2013-01-12 08:37:23,55.0,2013-01-12 08:37:23,56.0,2013-01-12 09:07:07,55.0,2013-01-12 09:07:09,NaN,2013-01-12 09:07:09,...,2013-01-12 09:07:09,NaN,2013-01-12 09:07:09,NaN,2013-01-12 09:07:09,NaN,2013-01-12 09:07:09,NaN,2013-01-12 09:07:09,0
77292,946,2013-01-12 08:50:13,946.0,2013-01-12 08:50:14,951.0,2013-01-12 08:50:15,946.0,2013-01-12 08:50:15,946.0,2013-01-12 08:50:16,...,2013-01-12 08:50:16,948.0,2013-01-12 08:50:16,784.0,2013-01-12 08:50:16,949.0,2013-01-12 08:50:17,946.0,2013-01-12 08:50:17,0
114021,945,2013-01-12 08:50:17,948.0,2013-01-12 08:50:17,949.0,2013-01-12 08:50:18,948.0,2013-01-12 08:50:18,945.0,2013-01-12 08:50:18,...,2013-01-12 08:50:18,947.0,2013-01-12 08:50:19,945.0,2013-01-12 08:50:19,946.0,2013-01-12 08:50:19,946.0,2013-01-12 08:50:20,0
146670,947,2013-01-12 08:50:20,950.0,2013-01-12 08:50:20,948.0,2013-01-12 08:50:20,947.0,2013-01-12 08:50:21,950.0,2013-01-12 08:50:21,...,2013-01-12 08:50:21,946.0,2013-01-12 08:50:21,951.0,2013-01-12 08:50:22,946.0,2013-01-12 08:50:22,947.0,2013-01-12 08:50:22,0

In [115]:
# приведем колонки site1, ..., site10 к целочисленному формату и заменим пропуски нулями
sites = ['site%s' % i for i in range(1, 11)]
train_df[sites] = train_df[sites].fillna(0).astype('int')
test_df[sites] = test_df[sites].fillna(0).astype('int')

In [116]:
train_df.head()

,site1,time1,site2,time2,site3,time3,site4,time4,site5,time5,...,time6,site7,time7,site8,time8,site9,time9,site10,time10,target
session_id,,,,,,,,,,,,,,,,,,,,,
21669,56,2013-01-12 08:05:57,55,2013-01-12 08:05:57,0,2013-01-12 08:05:57,0,2013-01-12 08:05:57,0,2013-01-12 08:05:57,...,2013-01-12 08:05:57,0,2013-01-12 08:05:57,0,2013-01-12 08:05:57,0,2013-01-12 08:05:57,0,2013-01-12 08:05:57,0
54843,56,2013-01-12 08:37:23,55,2013-01-12 08:37:23,56,2013-01-12 09:07:07,55,2013-01-12 09:07:09,0,2013-01-12 09:07:09,...,2013-01-12 09:07:09,0,2013-01-12 09:07:09,0,2013-01-12 09:07:09,0,2013-01-12 09:07:09,0,2013-01-12 09:07:09,0
77292,946,2013-01-12 08:50:13,946,2013-01-12 08:50:14,951,2013-01-12 08:50:15,946,2013-01-12 08:50:15,946,2013-01-12 08:50:16,...,2013-01-12 08:50:16,948,2013-01-12 08:50:16,784,2013-01-12 08:50:16,949,2013-01-12 08:50:17,946,2013-01-12 08:50:17,0
114021,945,2013-01-12 08:50:17,948,2013-01-12 08:50:17,949,2013-01-12 08:50:18,948,2013-01-12 08:50:18,945,2013-01-12 08:50:18,...,2013-01-12 08:50:18,947,2013-01-12 08:50:19,945,2013-01-12 08:50:19,946,2013-01-12 08:50:19,946,2013-01-12 08:50:20,0
146670,947,2013-01-12 08:50:20,950,2013-01-12 08:50:20,948,2013-01-12 08:50:20,947,2013-01-12 08:50:21,950,2013-01-12 08:50:21,...,2013-01-12 08:50:21,946,2013-01-12 08:50:21,951,2013-01-12 08:50:22,946,2013-01-12 08:50:22,947,2013-01-12 08:50:22,0

Separate target feature

In [117]:
# наша целевая переменная
y_train = train_df['target']

# объединенная таблица исходных данных
full_df = pd.concat([train_df.drop('target', axis=1), test_df])

# индекс, по которому будем отделять обучающую выборку от тестовой
idx_split = train_df.shape[0]

In [118]:
# табличка с индексами посещенных сайтов в сессии
full_sites = full_df[sites]
full_sites.head()

,site1,site2,site3,site4,site5,site6,site7,site8,site9,site10
session_id,,,,,,,,,,
21669,56,55,0,0,0,0,0,0,0,0
54843,56,55,56,55,0,0,0,0,0,0
77292,946,946,951,946,946,945,948,784,949,946
114021,945,948,949,948,945,946,947,945,946,946
146670,947,950,948,947,950,952,946,951,946,947

In [119]:
full_sites.shape

(336358, 10)

Build Tf-Idf features based on sites. You can use `ngram_range`=(1, 3) and `max_features`=100000 or more

In [120]:
%%time
str_df = full_sites[sites]\
               .apply(lambda x: " ".join([str(a) for a in x.values if not a==0]), axis=1)

CPU times: user 10.3 s, sys: 43.9 ms, total: 10.4 s
Wall time: 10.4 s

In [121]:
str_df.head()

session_id
21669                                       56 55
54843                                 56 55 56 55
77292     946 946 951 946 946 945 948 784 949 946
114021    945 948 949 948 945 946 947 945 946 946
146670    947 950 948 947 950 952 946 951 946 947
dtype: object

In [122]:
%%time
full_sites_sparse = TfidfVectorizer(ngram_range=(1,6), max_df=0.5,
                                    max_features=200000, token_pattern='(?u)\\b\\w+\\b').fit_transform(str_df)

CPU times: user 47.3 s, sys: 1.97 s, total: 49.2 s
Wall time: 49.2 s

In [123]:
X_train_sparse = full_sites_sparse[:idx_split]
X_test_sparse = full_sites_sparse[idx_split:]

In [124]:
full_sites_sparse.shape, X_train_sparse.shape, X_test_sparse.shape

((336358, 200000), (253561, 200000), (82797, 200000))

In [125]:
%%time
logit = LogisticRegression(n_jobs=-1, random_state=17)
logit.fit(X_train_sparse, y_train)

CPU times: user 11.7 s, sys: 168 ms, total: 11.8 s
Wall time: 3.08 s

In [126]:
get_auc_lr_valid(X_train_sparse, y_train, ratio=0.8)

0.92645290626579535

0.92729257732863013

In [127]:
tscv = TimeSeriesSplit(n_splits=4)
scores = cross_val_score(logit, X_train_sparse, y_train, cv=tscv)
scores

array([ 0.99217148,  0.99217148,  0.99211232,  0.99368986])

Add features based on the session start time: hour, whether it's morning, day or night and so on.

In [192]:
new_feat_train = pd.DataFrame(index=train_df.index)
new_feat_test = pd.DataFrame(index=test_df.index) 

new_feat_train['year_month'] = train_df['time1'].apply(lambda ts: ts.year * 100 + ts.month)
new_feat_test['year_month'] = test_df['time1'].apply(lambda ts: ts.year * 100 + ts.month)

In [193]:
scaler = StandardScaler()
scaler.fit(new_feat_train['year_month'].values.reshape(-1,1))

new_feat_train['year_month_scaled'] = scaler.transform(new_feat_train['year_month'].values.reshape(-1,1))
new_feat_test['year_month_scaled'] = scaler.transform(new_feat_test['year_month'].values.reshape(-1,1))

In [194]:
new_feat_train.head()

            year_month  year_month_scaled
session_id
21669           201301          -1.744405
54843           201301          -1.744405
77292           201301          -1.744405
114021          201301          -1.744405
146670          201301          -1.744405

In [195]:
# Создаем признак start_hour:
new_feat_train['start_hour'] = train_df['time1'].apply(lambda ts: ts.hour)
new_feat_test['start_hour'] = test_df['time1'].apply(lambda ts: ts.hour)

In [196]:
scaler = StandardScaler()
scaler.fit(new_feat_train['start_hour'].values.reshape(-1,1))

new_feat_train['start_hour_scaled'] = scaler.transform(new_feat_train['start_hour'].values.reshape(-1,1))
new_feat_test['start_hour_scaled'] = scaler.transform(new_feat_test['start_hour'].values.reshape(-1,1))

In [197]:
# Создаем признаки morning:
new_feat_train['morning'] = new_feat_train['start_hour'].apply(lambda x: 1 if x<=11 else 0)
new_feat_test['morning'] = new_feat_test['start_hour'].apply(lambda x: 1 if x<=11 else 0)

# Day:
new_feat_train['day'] = new_feat_train['start_hour'].apply(lambda x: 1 if x>11 and x<=18 else 0)
new_feat_test['day'] = new_feat_test['start_hour'].apply(lambda x: 1 if x>11 and x<=18 else 0)

# Noon:
new_feat_train['noon'] = new_feat_train['start_hour'].apply(lambda x: 1 if x>14 and x<=19 else 0)
new_feat_test['noon'] = new_feat_test['start_hour'].apply(lambda x: 1 if x>14 and x<=19 else 0)

In [198]:
# Создаем признак weekday:
new_feat_train['weekday'] = train_df['time1'].apply(lambda ts: ts.weekday())
new_feat_test['weekday'] = test_df['time1'].apply(lambda ts: ts.weekday())

In [199]:
# Создаем признак duration:
new_feat_train['duration'] = (train_df['time10'] - train_df['time1']).astype('timedelta64[s]')
new_feat_test['duration'] = (test_df['time10'] - test_df['time1']).astype('timedelta64[s]')

In [200]:
new_feat_train.head()

,year_month,year_month_scaled,start_hour,start_hour_scaled,morning,day,noon,weekday,duration
session_id,,,,,,,,,
21669,201301,-1.744405,8,-1.357366,1,0,0,5,0.0
54843,201301,-1.744405,8,-1.357366,1,0,0,5,1786.0
77292,201301,-1.744405,8,-1.357366,1,0,0,5,4.0
114021,201301,-1.744405,8,-1.357366,1,0,0,5,3.0
146670,201301,-1.744405,8,-1.357366,1,0,0,5,2.0

In [201]:
from scipy import stats
duration_1 = new_feat_train[y_train==1]['duration']
duration_0 = new_feat_train[y_train==0]['duration']
stats.ttest_ind(duration_0, duration_1)

Ttest_indResult(statistic=14.03620484562515, pvalue=9.727912658574387e-45)

In [202]:
np.median(duration_1), np.median(duration_0)

(11.0, 28.0)

In [203]:
pd.concat([new_feat_train['duration'], new_feat_test['duration']]).quantile(q=0.9)

354.0

In [204]:
new_feat_train['duration_10'] = new_feat_train['duration'].apply(lambda x: 1 if x<=2.0 else 0)
new_feat_test['duration_10'] = new_feat_test['duration'].apply(lambda x: 1 if x<=2.0 else 0)

new_feat_train['duration_10-20'] = new_feat_train['duration'].apply(lambda x: 1 if x>2 and x<=5 else 0)
new_feat_test['duration_10-20'] = new_feat_test['duration'].apply(lambda x: 1 if x>2 and x<=5 else 0)

new_feat_train['duration_20-30'] = new_feat_train['duration'].apply(lambda x: 1 if x>5 and x<=9 else 0)
new_feat_test['duration_20-30'] = new_feat_test['duration'].apply(lambda x: 1 if x>5 and x<=9 else 0)

new_feat_train['duration_30-40'] = new_feat_train['duration'].apply(lambda x: 1 if x>9 and x<=17 else 0)
new_feat_test['duration_30-40'] = new_feat_test['duration'].apply(lambda x: 1 if x>9 and x<=17 else 0)

new_feat_train['duration_40-50'] = new_feat_train['duration'].apply(lambda x: 1 if x>17 and x<=28 else 0)
new_feat_test['duration_40-50'] = new_feat_test['duration'].apply(lambda x: 1 if x>17 and x<=28 else 0)

new_feat_train['duration_50-60'] = new_feat_train['duration'].apply(lambda x: 1 if x>28 and x<=48 else 0)
new_feat_test['duration_50-60'] = new_feat_test['duration'].apply(lambda x: 1 if x>28 and x<=48 else 0)

new_feat_train['duration_60-70'] = new_feat_train['duration'].apply(lambda x: 1 if x>48 and x<=82 else 0)
new_feat_test['duration_60-70'] = new_feat_test['duration'].apply(lambda x: 1 if x>48 and x<=82 else 0)

new_feat_train['duration_70-80'] = new_feat_train['duration'].apply(lambda x: 1 if x>82 and x<=152 else 0)
new_feat_test['duration_70-80'] = new_feat_test['duration'].apply(lambda x: 1 if x>82 and x<=152 else 0)

new_feat_train['duration_80-90'] = new_feat_train['duration'].apply(lambda x: 1 if x>152 and x<=354 else 0)
new_feat_test['duration_80-90'] = new_feat_test['duration'].apply(lambda x: 1 if x>152 and x<=354 else 0)

In [205]:
new_feat_train = pd.DataFrame(pd.concat([new_feat_train,
                           pd.get_dummies(new_feat_train['weekday'], prefix='d', drop_first=False)], axis=1))
new_feat_test = pd.concat([new_feat_test,
                           pd.get_dummies(new_feat_test['weekday'], prefix='d', drop_first=False)], axis=1)

In [206]:
new_feat_train.head()

,year_month,year_month_scaled,start_hour,start_hour_scaled,morning,day,noon,weekday,duration,duration_10,...,duration_60-70,duration_70-80,duration_80-90,d_0,d_1,d_2,d_3,d_4,d_5,d_6
session_id,,,,,,,,,,,,,,,,,,,,,
21669,201301,-1.744405,8,-1.357366,1,0,0,5,0.0,1,...,0,0,0,0,0,0,0,0,1,0
54843,201301,-1.744405,8,-1.357366,1,0,0,5,1786.0,0,...,0,0,0,0,0,0,0,0,1,0
77292,201301,-1.744405,8,-1.357366,1,0,0,5,4.0,0,...,0,0,0,0,0,0,0,0,1,0
114021,201301,-1.744405,8,-1.357366,1,0,0,5,3.0,0,...,0,0,0,0,0,0,0,0,1,0
146670,201301,-1.744405,8,-1.357366,1,0,0,5,2.0,1,...,0,0,0,0,0,0,0,0,1,0

In [207]:
new_feat_train['year_month'][y_train==1].value_counts()

201311    446
201402    410
201403    400
201309    377
201404    302
201312    134
201401    129
201302     61
201304     38
Name: year_month, dtype: int64

In [208]:
new_feat_train['month'] = train_df['time1'].apply(lambda ts: ts.month)
new_feat_test['month'] = test_df['time1'].apply(lambda ts: ts.month)

In [209]:
new_feat_train = pd.DataFrame(pd.concat([new_feat_train,
                           pd.get_dummies(new_feat_train['month'], prefix='m', drop_first=False)], axis=1))
new_feat_test = pd.DataFrame(pd.concat([new_feat_test,
                           pd.get_dummies(new_feat_test['month'], prefix='m', drop_first=False)], axis=1))

In [210]:
new_feat_test.columns

Index(['year_month', 'year_month_scaled', 'start_hour', 'start_hour_scaled',
       'morning', 'day', 'noon', 'weekday', 'duration', 'duration_10',
       'duration_10-20', 'duration_20-30', 'duration_30-40', 'duration_40-50',
       'duration_50-60', 'duration_60-70', 'duration_70-80', 'duration_80-90',
       'd_0', 'd_1', 'd_2', 'd_3', 'd_4', 'd_5', 'd_6', 'month', 'm_5', 'm_6',
       'm_7', 'm_8', 'm_9', 'm_10', 'm_11', 'm_12'],
      dtype='object')

In [211]:
features = ['morning', 'day', 'duration_10', 'duration_10-20', 'duration_20-30',
       'duration_30-40', 'duration_40-50', 'duration_50-60', 'duration_60-70',
       'duration_70-80', 'd_0', 'd_1', 'd_2', 'd_3', 'd_4', 'd_5', 'd_6']

In [212]:
X_train = csr_matrix(hstack([X_train_sparse,
                            new_feat_train[features].values.reshape(-1,len(features))]))

X_test = csr_matrix(hstack([X_test_sparse,
                            new_feat_test[features].values.reshape(-1,len(features))]))

In [213]:
X_train.shape, X_test.shape

((253561, 200017), (82797, 200017))

In [214]:
idx = len(new_feat_train)- len(new_feat_train[new_feat_train['year_month']>=201305])

In [215]:
new_feat_train.iloc[idx:,:].head()

,year_month,year_month_scaled,start_hour,start_hour_scaled,morning,day,noon,weekday,duration,duration_10,...,m_3,m_4,m_5,m_6,m_7,m_8,m_9,m_10,m_11,m_12
session_id,,,,,,,,,,,,,,,,,,,,,
27876,201305,-1.65019,8,-1.357366,1,0,0,6,56.0,0,...,0,0,1,0,0,0,0,0,0,0
113470,201305,-1.65019,8,-1.357366,1,0,0,6,18.0,0,...,0,0,1,0,0,0,0,0,0,0
248880,201305,-1.65019,8,-1.357366,1,0,0,6,243.0,0,...,0,0,1,0,0,0,0,0,0,0
168463,201305,-1.65019,8,-1.357366,1,0,0,6,362.0,0,...,0,0,1,0,0,0,0,0,0,0
60553,201305,-1.65019,8,-1.357366,1,0,0,6,357.0,0,...,0,0,1,0,0,0,0,0,0,0

In [216]:
X_train[idx:,:]

<241935x200017 sparse matrix of type '<class 'numpy.float64'>'
	with 5228898 stored elements in Compressed Sparse Row format>

In [217]:
%%time
logit = LogisticRegression(n_jobs=-1, random_state=17)
logit.fit(X_train, y_train)

CPU times: user 24.5 s, sys: 264 ms, total: 24.8 s
Wall time: 6.29 s

In [218]:
get_auc_lr_valid(X_train, y_train, ratio=0.8)

0.93026742682669572

In [219]:
scores = cross_val_score(logit, X_train, y_train, cv=tscv)
scores

array([ 0.99163906,  0.99246727,  0.99221092,  0.99349266])

In [220]:
C = np.logspace(-1, 1, 10)

In [221]:
%%time
searchCV = LogisticRegressionCV(Cs=C, penalty='l2', scoring='roc_auc', random_state=17, n_jobs=-1, verbose=1)
searchCV.fit(X_train[idx:,:], y_train[idx:])
print ('Max auc_roc:', searchCV.scores_[1].max())

[Parallel(n_jobs=-1)]: Done   3 out of   3 | elapsed:  1.7min finished

Max auc_roc: 0.943881464625
CPU times: user 31.6 s, sys: 656 ms, total: 32.3 s
Wall time: 1min 48s

In [222]:
best_c = searchCV.C_[0]
best_c

5.9948425031894086

In [223]:
get_auc_lr_valid(X_train, y_train, ratio=0.8, C=best_c)

0.9343155619649498

0.93372138833945972

In [224]:
test_pred = searchCV.predict_proba(X_test)[:,1]

In [225]:
write_to_submission_file(test_pred, 'n_gram1_6__max200k__17_feat__tuned_C_clipped.csv')